<footer class="footer">
  <small>
<a href="http://github.com/thebusiness11/railsarcade/" target="_blank" class="ribbon" title="Fork me on GitHub!">Fork me on github!</a>
 </small>
  <nav>
  	<ul>
  	<a href="#" target="_blank" class="thanks" title="Special Thanks!"></a>

  </ul>
  </nav>
<div>
		
</div>
</footer>